.about-heading {
    margin: auto;
    /* text-align: center; */
   width: 50%; 
   padding: auto; 
}

.about-body {
    margin: auto;
    /* text-align: center; */
   width: 50%; 
   padding: auto;  
}
