.about-heading {
    margin: auto;
    /* text-align: center; */
   width: 50%; 
   padding: auto; 
}

.about-body {
    margin: auto;
    /* text-align: center; */
   width: 50%; 
   padding: auto;  
}


header {
    background-color: whitesmoke;
}

main {
    padding-left: 5%;
    background-color: whitesmoke;
}

html, body {
    height: 100%;
}

html {
    display: table;
    margin: auto;
}

body {
    display: table-cell;
    vertical-align: middle;
}
