main {
    background-color: whitesmoke;
    text-align: center;
}


p {
    padding: 20px;
}

.container {
    display: flex;
}
.item {
    flex: 1;
    text-align: center;
    margin: 10px;
}
#instagram {
    margin:auto;
    max-width: 200px;
}
#tag {
    margin:auto;
    max-width: 200px;
}
#email {
    margin:auto;
    max-width: 200px;
}




