main {
    
    background-color: whitesmoke;
}

.contacts {
  column-count: 3;
  column-gap: 30px;
  padding: 30px;
}
p {
    padding: 20px;
}

.contact-images {
    display: block;
    position: absolute;

}
#tag {
    margin:auto;
    max-width: 200px;
}

