html, body {
    height: 100%;
}

html {
    display: table;
    margin: auto;
}

body {
    display: table-cell;
    vertical-align: middle;
}


header {
    background-color: whitesmoke;
}

main {
    padding-left: 5%;
    background-color: whitesmoke;
}

