header {
    display: block;
    position: fixed; 
    top:0;
    left:0;
    width: 100%;
}

main {
    display: block;
    padding-top: 2.5em;
    padding-bottom: 3em;
    min-height: 85%;

}
nav > ul {
    display: block;
}
nav > ul > li {
    display: inline-block;
    padding-right: 2em;
    padding: 10px;
}
nav > ul > li:hover {
    background-color: #4CAF50;
}

#menu-logo {
    margin: 0;
    width: 20%;
    float:inline-start;
}

footer {
    background-color: rgb(51, 34, 11);
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

.div-radiobutton {
    padding: 10px;
    background-color: #fff;
    width: 99%;
    border-radius: 5px;

margin-bottom: 10px;
}

/* Set font and background color for the entire form */
form {
    font-family: Arial, sans-serif;
    background-color: #924848;
    padding: 20px;
  }
  
  /* Style the input fields */
  input[type="text"],
  input[type="email"],
  input[type="number"] {
    display: block;
    width: 99%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  
  /* Style the submit button */
  button[type="submit"] {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  button[type="submit"]:hover {
    background-color: black;
  }
  
  /* Style the output message */
  #output {
    font-weight: bold;
    margin-top: 20px;
  }

  /*images for radio button selections*/
  #binding-type-images {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
  }

  #classic:checked ~ #binding-type-images #classic-image {
    display: block;
  }

  #classic-image {
    width: 30%;
  }

  #secretBelgian:checked ~ #binding-type-images #secret-belgian-image {
    display: block;
  }

  #secret-belgian-image {
    width: 30%;
  }

  #coptic:checked ~ #binding-type-images #coptic-image {
    display: block;
  }

  #coptic-image {
    width: 30%;
  }
