
.div-radiobutton {
    padding: 10px;
    background-color: #fff;
    width: 99%;
    border-radius: 5px;
    margin-bottom: 10px;
}

#output {
  border: solid 2px #eeece7;
}

/* Set font and background color for the entire form */
form {
    font-family: Arial, sans-serif;
    background-color: #646464;
    padding: 20px;
    width: 50%;
    margin: auto;
  }
  
  /* Style the input fields */
  input[type="text"],
  input[type="email"],
  input[type="number"] {
    display: block;
    width: 99%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  
  /* Style the submit button */
  button[type="submit"] {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  button[type="submit"]:hover {
    background-color: black;
  }
  
  /* Style the output message */
  #output {
    font-weight: bold;
    margin-top: 20px;
  }

  /*images for radio button selections*/
  #binding-type-image1 {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
  }

  #binding-type-image2 {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
  }

  #binding-type-image3 {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
  }

  #classic:checked ~ #binding-type-image1 #classic-image {
    display: block;
  }

  #classic-image {
    width: 30%;
  }

  #secretBelgian:checked ~ #binding-type-image2 #secret-belgian-image {
    display: block;
  }

  #secret-belgian-image {
    width: 30%;
  }

  #coptic:checked ~ #binding-type-image3 #coptic-image {
    display: block;
  }

  #coptic-image {
    width: 30%;
  }
