/* Set font and background color for the entire form */
form {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    padding: 20px;
  }
  
  /* Style the input fields */
  input[type="text"],
  input[type="email"],
  input[type="number"] {
    display: block;
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  
  /* Style the submit button */
  button[type="submit"] {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  /* Style the output message */
  #output {
    font-weight: bold;
    margin-top: 20px;
  }

  /*images for radio button selections*/
  #binding-type-images {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
  }

  #classic:checked ~ #binding-type-images #classic-image {
    display: block;
  }

  #classic-image {
    width: 30%;
  }