
.redpanda {
    font-weight: bold;
}
#testDiv {
    background-color: burlywood;
    padding: 20px;
    padding-inline-start: 20px;
}
a {
    font-style: none;
}
a:hover {
    text-decoration-line: none;
}
a:visited {
    color: rgb(158, 209, 215);
}
p {
    letter-spacing: 4px;
}
h1 {
    font-family: "Lucida Handwriting";
}
ul {
    list-style-type: none;
}

.columns {
    background-color: rgb(168, 149, 142);
    display: flex;
    border:solid 1px rgb(28, 28, 59);
}
.columns > li {
    flex:1;
    padding: 5px;
    text-align: center;
    font-size:x-large;


}
.columns > li:hover {
    background-color: rgb(253, 241, 237);
}

/*faq css */

.faq-heading{
    margin: auto;
    /* text-align: center; */
   width: 50%; 
   padding: auto;
}
.faq-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    }
.faq-body{
    margin: auto;
    /* text-align: center; */
   width: 50%; 
   padding: auto;
}
.faq-page{
    margin: auto;
    /* text-align: center; */
   width: 50%; 
   padding: auto;
}
.hr-line{
      width: 60%;
      margin: auto;  
    }

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active,
.faq-page:hover {
    background-color: #989595;
}
/* Style the faq-page panel. Note: hidden by default */
.faq-body {
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
}
.faq-page:after {
    content: '\02795';
    /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: black;
    float: right;
    margin-left: 5px;
}
.active:after {
    content: "\2796";
    /* Unicode character for "minus" sign (-) */
}

/*about css */

.about-heading {
    margin: auto;
    /* text-align: center; */
   width: 50%; 
   padding: auto; 
}

.about-body {
    margin: auto;
    /* text-align: center; */
   width: 50%; 
   padding: auto;  
}

h2 {
  font-weight: 300;
  margin: 4vh 4vw;
  letter-spacing: 3px;
  color: grey;
  text-transform: uppercase;
}

