
.redpanda {
    font-weight: bold;
}
#testDiv {
    background-color: burlywood;
    padding: 20px;
    padding-inline-start: 20px;
}
a {
    font-style: none;
    text-decoration: none;
}
a:hover {
    text-decoration-line: none;
}
a:visited {
    color: #cbb26b;
}
p {
    letter-spacing: 4px;
}
h1 {
    font-family: "Lucida Handwriting";
}
ul {
    list-style-type: none;
}

.columns {
    background-color: rgb(168, 149, 142);
    display: flex;
    border:solid 1px rgb(28, 28, 59);
}
.columns > li {
    flex:1;
    padding: 5px;
    text-align: center;
    font-size:x-large;


}
.columns > li:hover {
    background-color: rgb(253, 241, 237);
}

h2 {
  font-weight: 300;
  margin: 4vh 4vw;
  letter-spacing: 3px;
  color: grey;
  text-transform: uppercase;
}

